<script>

    function loadDatafinal(finals) {
        finals.forEach(final => {
            $('#finalTable').append(
                '<tr>' +
                    '<td><div id="' +final.id+ '">' + final.id + '</div></td>' +
                    '<td><input type="text" class="form-control" onchange="saveDatafinal('+final.id+')" id="' +final.id+ 'fin_name" value="'+final.name+'"></td>' +
                    '<td> <button type="submit" class="btn btn-primary" onclick="deletefinal('+final.id+')"><span class="glyphicon glyphicon-remove"></span></button></td>' +            
                '</tr>'
            );
        });
    }
    
    function saveDatafinal(fin_id, createfinal = false) {
        for(let i = 0; i < base.final.length; i++) {
            if(base.final[i].id == fin_id) {
                base.final[i].name = $('#' + fin_id + 'fin_name').val();
    
                updated = true;
                $('#finalSave').show(500);    
    
                return;
            }
        }
    
        base.final[base.final.length] = {
            id: fin_id,
            name: $('#' + fin_id + 'fin_name').val(),
        }
    
        updated = true;
        $('#finalSave').show(500);    
    }
    
    function newfinal() {
        let id = 1;
        if(base.final.length)
            id = base.final[base.final.length - 1].id + 1;
    
        $('#finalTable').append(
            '<tr>' +
                '<td><div id="' +id+ '">' + id + '</div></td>' +
                '<td><input type="text" class="form-control" onchange="saveDatafinal('+id+')" id="' +id+ 'fin_name" value="НОВЫЙ"></td>' +
                '<td> <button type="submit" class="btn btn-primary" onclick="deletefinal('+id+')"><span class="glyphicon glyphicon-remove"></span></button></td>' +
            '</tr>'
        );
    
        saveDatafinal(id, true);
    }
    
    function updatefinal(){
        console.log('Updated final table');
        $('#finalTable').empty();
        loadDatafinal(base.final);   
    }
    updatefinal();
    
    function deletefinal(id) {
        for(let i = 0; i < base.final.length; i++) {
            if(base.pills[i].id == id) {
                console.log(base.final.splice(i, 1));
                
                updated = true;
                $('#finalSave').show(500);   
    
                $('#finalTable').empty();
                loadDatafinal(base.final); 
                return;
            }
        }
    }
    
    updateObj['tableRefresher'] = function() {
    
    }
    
    </script>
    
    <div class="">
        <h2>Окончательный вердикт</h2>
        <p>
    
            <button id="btn-save" type="submit" class="btn btn-primary" onclick="newfinal()"> <span class="glyphicon glyphicon-plus-sign"></span></button>
            
        </p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="finalTable">
            </tbody>
        </table>
    </div>