<script>
    updateObj['home'] = function () {
        if(updated) {
            $('#home_war').show(500);
        } else {
            $('#home_war').hide(500);
        }

        if(!(base instanceof Object)) {
            $('#home_er').show(500);
        } else {
            $('#home_er').hide(500);
        }
        
        if(JSON.stringify(base) === JSON.stringify(orig)) {
            $('#home_suc').show(500);
        } else{
            $('#home_suc').hide(500);
        }
    }
</script>

<div class="alert alert-danger" role="alert" style="display: none;" id="home_er">
    <h4 class="alert-heading">УПС!</h4>
    <p>Не удалось открыть рабочий файл</p>
    <hr>
</div>

<div class="alert alert-success" role="alert" style="display: none;" id="home_suc">
    <h4 class="alert-heading">ОТЛИЧНО</h4>
    <p>Всё готово к работе</p>
    <hr>
</div>

<div class="alert alert-warning" role="alert" style="display: none;" id="home_war">
    <h4 class="alert-heading">ОСТОРОЖНО</h4>
    <p>Были внесены изменения, но документ не был сохранён</p>
    <hr>
</div>

<script>
    function saveBase() {
        var blob = new Blob([JSON.stringify(base)], {type:"text/plain;charset=utf-8"});
        saveAs(blob, 'base.json');
        updated = false;
    }

</script>

<h2>Контроль базой</h2>

<hr>

<button id="btn-save" type="submit" class="btn btn-primary" onclick="saveBase()"><span class="glyphicon glyphicon-save"></span></button>
<button id="btn-save" type="submit" class="btn btn-primary" onclick="location.reload(true)"><span class="glyphicon glyphicon-refresh"></span></button>
<!-- STATISTIC -->

<h2>Статистика</h2>

<hr>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>

<script>

$( document ).ready(function() {
    //Better to construct options first and then pass it as a parameter
    var options = {
        title: {
            text: "Количество записей"              
        },
        data: [              
        {
            // Change type to "doughnut", "line", "splineArea", etc.
            type: "doughnut",
            dataPoints: [
                { label: "Персоны",  y: base.persons.length  },
                { label: "Болезни", y: base.illnes.length },
                { label: "Лекарства", y: base.pills.length },
                { label: "Рекомендации", y: base.recomendation.length },
                { label: "Вердикт", y: base.final.length },
                { label: "Приёмы", y: base.process.length },
            ]
        }
        ]
    };
 
    $("#chartContainer").CanvasJSChart(options);
    $('a[href="https://canvasjs.com/"]').hide();
});

</script>