<script>

        function loadDataillnes(illnes) {
            illnes.forEach(ill => {
                $('#illnesTable').append(
                    '<tr>' +
                        '<td><div id="' +ill.id+ '">' + ill.id + '</div></td>' +
                        '<td><input type="text" class="form-control" onchange="saveDataIllnes('+ill.id+')" id="' +ill.id+ 'ill_name" value="'+ill.name+'"></td>' +
                        '<td> <button type="submit" class="btn btn-primary" onclick="deleteill('+ill.id+')"><span class="glyphicon glyphicon-remove"></span></button></td>' +            
                    '</tr>'
                );
            });
        }
        
        function saveDataIllnes(ill_id, createill = false) {
            for(let i = 0; i < base.illnes.length; i++) {
                if(base.illnes[i].id == ill_id) {
                    base.illnes[i].name = $('#' + ill_id + 'ill_name').val();
                    base.illnes[i].lastName = $('#' + ill_id + 'ill_lastname').val();
                    base.illnes[i].birthday = $('#' + ill_id + 'ill_bd').val();
        
                    updated = true;
                    $('#illnesSave').show(500);    
        
                    return;
                }
            }
        
            base.illnes[base.illnes.length] = {
                id: ill_id,
                name: $('#' + ill_id + 'ill_name').val()
            }
        
            updated = true;
            $('#illnesSave').show(500);    
        }
        
        function newill() {
            let id = 1;
            if(base.illnes.length)
                id = base.illnes[base.illnes.length - 1].id + 1;
        
            $('#illnesTable').append(
                '<tr>' +
                    '<td><div id="' +id+ '">' + id + '</div></td>' +
                    '<td><input type="text" class="form-control" onchange="saveDataIllnes('+id+')" id="' +id+ 'ill_name" value="НОВЫЙ"></td>' +
                    '<td> <button type="submit" class="btn btn-primary" onclick="deleteill('+id+')"><span class="glyphicon glyphicon-remove"></span></button></td>' +
                '</tr>'
            );
        
            saveDataIllnes(id, true);
        }
        
        function updateill(){
            console.log('Updated Illnes table');
            $('#illnesTable').empty();
            loadDataillnes(base.illnes);   
        }
        updateill();
        
        function deleteill(id) {
            for(let i = 0; i < base.illnes.length; i++) {
                if(base.illnes[i].id == id) {
                    console.log(base.illnes.splice(i, 1));
                    
                    updated = true;
                    $('#illnesSave').show(500);   
        
                    $('#illnesTable').empty();
                    loadDataillnes(base.illnes); 
                    return;
                }
            }
        }
        
        updateObj['tableRefresher'] = function() {
        
        }
        
        </script>
        
        <div class="">
            <h2>Болезни</h2>
            <p>
        
                <button id="btn-save" type="submit" class="btn btn-primary" onclick="newill()"> <span class="glyphicon glyphicon-plus-sign"></span></button>
                
            </p>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Болезнь</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="illnesTable">
                </tbody>
            </table>
        </div>