<script>

function loadDataPersons(persons) {
    persons.forEach(person => {
        $('#personsTable').append(
            '<tr>' +
                '<td><div id="' +person.id+ '">' + person.id + '</div></td>' +
                '<td><input type="text" class="form-control" onchange="saveDataPerson('+person.id+')" id="' +person.id+ 'person_name" value="'+person.name+'"></td>' +
                '<td><input type="text" class="form-control" onchange="saveDataPerson('+person.id+')" id="' +person.id+ 'person_lastname" value="'+person.lastName+'"></td>' +
                '<td><input type="date" class="form-control" onchange="saveDataPerson('+person.id+')" id="' +person.id+ 'person_bd" value="'+person.birthday+'"></td>' +
                '<td><input type="text" class="form-control" onchange="saveDataPerson('+person.id+')" id="' +person.id+ 'person_camera" value="'+person.camera+'"></td>' +
                '<td><button type="submit" class="btn btn-primary" onclick="showIllnesList(' + person.id + ')"> <span class="glyphicon glyphicon-pencil"></span></button></td>' + 
                '<td> <button type="submit" class="btn btn-primary" onclick="deletePerson('+person.id+')"><span class="glyphicon glyphicon-remove"></span></button></td>' +            
            '</tr>'
        );
    });
}

function showIllnesList(id){
    $('#illnesList').append(
        '<ul class="list-group">'
    );

    let illnes_id = [];
    for(let i = 0; i < base.persons.length; i++) {
        if(base.persons[i].id == id) {
            if(base.persons[i].illnes.length) {
                illnes_id = base.persons[i].illnes;
            }
        }
    }

    $('#illnesList').append(
        '<li class="list-group-item list-group-item-success" style="margin-bottom: 2%;"><h3>Хронические заболевания</h3></li>'
    );
    let light = true;
    for(let ii = 0; ii < base.illnes.length; ii++) {
        if(illnes_id.includes(base.illnes[ii].id)){
            let colorClass = "list-group-item-light";
            if(!light) {
                colorClass = "list-group-item-info";
            }
            light = !light;

            $('#illnesList').append(
                '<li class="list-group-item '+colorClass+'">' + base.illnes[ii].name + 
                    '<button type="submit" style="margin-right: 35%" class="btn btn-primary" onclick="deleteIllnes(' + base.illnes[ii].id + ', ' + id + ')"><span class="glyphicon glyphicon-remove"></span></button>' + 
                    '</li>'
            );
        }
    }

    $('#illnesList').append(
        '</ul>'
    );

    $('#addBtn').append(
        '<button type="submit" class="btn btn-primary btn-block" onclick="newIllnes(' + id + ')"> <span class="glyphicon glyphicon-plus-sign"></span></button>' + 
        '<button type="submit" class="btn btn-primary btn-block" onclick="hidePopUp()"><span class="glyphicon glyphicon-remove"></span></button>'
    )

    for(let ii = 0; ii < base.illnes.length; ii++) {
        if(!illnes_id.includes(base.illnes[ii].id)) {
            $('#illnesOptions').append(
                '<option value="' + base.illnes[ii].id + '">' + base.illnes[ii].name + '</option>'
            );
        }
    }

    $('.editPopUp').toggle();
    
}

function deleteIllnes(id, person_id) {
    let illnes_id = [];
    for(let i = 0; i < base.persons.length; i++) {
        if(base.persons[i].id == person_id) {
            if(base.persons[i].illnes.length) {
                illnes_id = base.persons[i].illnes;
            }
        }
    }

    let tmp = [];
    for(let i = 0; i < illnes_id.length; i++) {
        if(illnes_id[i] != id) {
            tmp.push(illnes_id[i])
        }
    }

    base.persons[person_id].illnes = tmp;

    hidePopUp();
    showIllnesList(person_id);

    updated = true;
    $('#personSave').show(500); 
    return;
}

function hidePopUp() {
    $(".editPopUp").toggle()

    $('#illnesList').empty();
    $('#illnesOptions').empty();
    $('#addBtn').empty();
}

function newIllnes(id) {
    for(let i = 0; i < base.persons.length; i++) {
        if(base.persons[i].id == id) {
            base.persons[i].illnes.push(parseInt($('#illnesOptions').val()));
            hidePopUp();
            showIllnesList(id);

            updated = true;
            $('#personSave').show(500); 
            return;
        }
    }
}

function saveDataPerson(person_id, createPerson = false) {
    if(!createPerson)
    for(let i = 0; i < base.persons.length; i++) {
        if(base.persons[i].id == person_id) {
            base.persons[i].name = $('#' + person_id + 'person_name').val();
            base.persons[i].lastName = $('#' + person_id + 'person_lastname').val();
            base.persons[i].birthday = $('#' + person_id + 'person_bd').val();
            base.persons[i].camera = $('#' + person_id + 'person_camera').val();

            updated = true;
            $('#personSave').show(500);    

            return;
        }
    }

    base.persons[base.persons.length] = {
        id: person_id,
        name: $('#' + person_id + 'person_name').val(),
        lastName: $('#' + person_id + 'person_lastname').val(),
        birthday: $('#' + person_id + 'person_bd').val(),
        camera: $('#' + person_id + 'person_camera').val(),
        illnes: []
    }

    updated = true;
    $('#personSave').show(500);    
}

function newPerson() {
    let id = 0;
    if(base.persons.length)
        id = base.persons[base.persons.length - 1].id + 1;

    $('#personsTable').append(
        '<tr>' +
            '<td><div id="' +id+ '">' + id + '</div></td>' +
            '<td><input type="text" class="form-control" onchange="saveDataPerson('+id+')" id="' +id+ 'person_name" value="НОВЫЙ"></td>' +
            '<td><input type="text" class="form-control" onchange="saveDataPerson('+id+')" id="' +id+ 'person_lastname" value="НОВЫЙ"></td>' +
            '<td><input type="date" class="form-control" onchange="saveDataPerson('+id+')" id="' +id+ 'person_bd" value="НОВЫЙ"></td>' +
            '<td><input type="text" class="form-control" onchange="saveDataPerson('+id+')" id="' +id+ 'person_camera" value="НОВЫЙ"></td>' +
            '<td><button type="submit" class="btn btn-primary" onclick="showIllnesList(' + id + ')"> <span class="glyphicon glyphicon-pencil"></span></button></td>' +
            '<td> <button type="submit" class="btn btn-primary" onclick="deletePerson('+id+')"><span class="glyphicon glyphicon-remove"></span></button></td>' +
        '</tr>'
    );

    saveDataPerson(id, true);
}

function updatePerson(){
    console.log('Updated Person table');
    $('#personsTable').empty();
    loadDataPersons(base.persons);   
}
updatePerson();

function deletePerson(id) {
    for(let i = 0; i < base.persons.length; i++) {
        if(base.persons[i].id == id) {
            
            updated = true;
            $('#personSave').show(500);   

            $('#personsTable').empty();
            loadDataPersons(base.persons); 
            return;
        }
    }
}

$('.editPopUp').click( function (e) { 
    if($('.editPopUp').css('display') != 'none') {
        hidePopUp();
    }
});

$('.editPopUp .row').click(function(e){
    e.stopPropagation();
});

updateObj['tableRefresher'] = function() {

}

</script>

<div class="">
    <h2>Персоны</h2>
    <p>

        <button id="btn-save" type="submit" class="btn btn-primary" onclick="newPerson()"> <span class="glyphicon glyphicon-plus-sign"></span></button>

        <button type="submit" class="btn btn-primary" onclick="$('#filters').toggle(500)"><span class="glyphicon glyphicon-search"></span></button>
        <div id="filters" style="display: none">
                <script>
                    function filterPersons(obj) {
                        let value = $(obj).val().toLowerCase();
                        $('#personsTable tr').filter(function() {
                            let trStr = '';
                            $(this).children().children('input[type=text]').each(function(){
                                trStr += $(this).val();
                            });

                            trStr += $(this).children().children('div').text();
                            
                            $(this).toggle(trStr.toLowerCase().indexOf(value) > -1)
                        });
                    }

                    function filterPersonsDate() {
                        let start = $('#persons_date_start').val();
                        let fin = $('#persons_date_end').val();
                        
                        $('#personsTable tr').filter(function() {
                            let thisDate = $(this).children().children('input[type=text]').val();
                            console.log(thisDate)
                            thisDate = new Date(thisDate);
                            
                            console.log(thisDate >= new Date(start) && thisDate <= new Date(fin));

                            $(this).toggle();
                        });
                    }
                </script>

                <p>Искать: <input type="text" class="form-control" onkeyup="filterPersons(this)"  placeholder="Текст"></p>  
                <p>Дата с: <input type="date" class="form-control" onchange="filterPersonsDate()" id="persons_date_start" placeholder="Текст"></p>  
                <p>Дата до: <input type="date" class="form-control" onchange="filterPersonsDate()" id="persons_date_end" placeholder="Текст"></p>  
        </div>
        
        
    </p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Дата рождения</th>
            <th>Камера</th>
            <th>Хронические заболевания</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="personsTable">
        </tbody>
    </table>
</div>

<div class="editPopUp">
        <div class="row">
            <div style="width: 60%; margin: auto;">
                    <div id="illnesList" style="margin: 10%;">
                    </div>
                    <select class="form-control form-control-lg" id="illnesOptions">
                    </select>
                    <div id="addBtn" style="margin: 2%">
                    </div>
            </div>
        </div>
</div>