<script>

        function loadDatapills(pills) {
            pills.forEach(pill => {
                $('#pillsTable').append(
                    '<tr>' +
                        '<td><div id="' +pill.id+ '">' + pill.id + '</div></td>' +
                        '<td><input type="text" class="form-control" onchange="saveDatapills('+pill.id+')" id="' +pill.id+ 'pill_name" value="'+pill.name+'"></td>' +
                        '<td> <button type="submit" class="btn btn-primary" onclick="deleteill('+pill.id+')"><span class="glyphicon glyphicon-remove"></span></button></td>' +            
                    '</tr>'
                );
            });
        }
        
        function saveDatapills(pill_id, createPill = false) {
            for(let i = 0; i < base.pills.length; i++) {
                if(base.pills[i].id == pill_id) {
                    base.pills[i].name = $('#' + pill_id + 'pill_name').val();
        
                    updated = true;
                    $('#pillsSave').show(500);    
        
                    return;
                }
            }
        
            base.pills[base.pills.length] = {
                id: pill_id,
                name: $('#' + pill_id + 'pill_name').val(),
            }
        
            updated = true;
            $('#pillsSave').show(500);    
        }
        
        function newPill() {
            let id = 1;
            if(base.pills.length)
                id = base.pills[base.pills.length - 1].id + 1;
        
            $('#pillsTable').append(
                '<tr>' +
                    '<td><div id="' +id+ '">' + id + '</div></td>' +
                    '<td><input type="text" class="form-control" onchange="saveDatapills('+id+')" id="' +id+ 'ill_name" value="НОВЫЙ"></td>' +
                    '<td> <button type="submit" class="btn btn-primary" onclick="deleteill('+id+')"><span class="glyphicon glyphicon-remove"></span></button></td>' +
                '</tr>'
            );
        
            saveDatapills(id, true);
        }
        
        function updatePill(){
            console.log('Updated pills table');
            $('#pillsTable').empty();
            loadDatapills(base.pills);   
        }
        updatePill();
        
        function deletePill(id) {
            for(let i = 0; i < base.pills.length; i++) {
                if(base.pills[i].id == id) {
                    console.log(base.pills.splice(i, 1));
                    
                    updated = true;
                    $('#pillsSave').show(500);   
        
                    $('#pillsTable').empty();
                    loadDatapills(base.pills); 
                    return;
                }
            }
        }
        
        updateObj['tableRefresher'] = function() {
        
        }
        
        </script>
        
        <div class="">
            <h2>Лекарства</h2>
            <p>
        
                <button id="btn-save" type="submit" class="btn btn-primary" onclick="newPill()"> <span class="glyphicon glyphicon-plus-sign"></span></button>
                
            </p>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="pillsTable">
                </tbody>
            </table>
        </div>