<script>

</script>

<div class="">
        <h2>Приём</h2>
        <p>

        </p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
            </tr>
            </thead>
            <tbody id="processTable">
            </tbody>
        </table>
    </div>