<script>

    function loadDataRecomendation(recomendations) {
        recomendations.forEach(recomendation => {
            $('#recomendationTable').append(
                '<tr>' +
                    '<td><div id="' +recomendation.id+ '">' + recomendation.id + '</div></td>' +
                    '<td><input type="text" class="form-control" onchange="saveDataRecomendation('+recomendation.id+')" id="' +recomendation.id+ 'rec_name" value="'+recomendation.name+'"></td>' +
                    '<td> <button type="submit" class="btn btn-primary" onclick="deleteRecomendation('+recomendation.id+')"><span class="glyphicon glyphicon-remove"></span></button></td>' +            
                '</tr>'
            );
        });
    }
    
    function saveDataRecomendation(rec_id, createRecomendation = false) {
        for(let i = 0; i < base.recomendation.length; i++) {
            if(base.recomendation[i].id == rec_id) {
                base.recomendation[i].name = $('#' + rec_id + 'rec_name').val();
    
                updated = true;
                $('#recomendationSave').show(500);    
    
                return;
            }
        }
    
        base.recomendation[base.recomendation.length] = {
            id: rec_id,
            name: $('#' + rec_id + 'rec_name').val(),
        }
    
        updated = true;
        $('#recomendationSave').show(500);    
    }
    
    function newRecomendation() {
        let id = 1;
        if(base.recomendation.length)
            id = base.recomendation[base.recomendation.length - 1].id + 1;
    
        $('#recomendationTable').append(
            '<tr>' +
                '<td><div id="' +id+ '">' + id + '</div></td>' +
                '<td><input type="text" class="form-control" onchange="saveDataRecomendation('+id+')" id="' +id+ 'rec_name" value="НОВЫЙ"></td>' +
                '<td> <button type="submit" class="btn btn-primary" onclick="deleteRecomendation('+id+')"><span class="glyphicon glyphicon-remove"></span></button></td>' +
            '</tr>'
        );
    
        saveDataRecomendation(id, true);
    }
    
    function updateRecomendation(){
        console.log('Updated recomendation table');
        $('#recomendationTable').empty();
        loadDataRecomendation(base.recomendation);   
    }
    updateRecomendation();
    
    function deleteRecomendation(id) {
        for(let i = 0; i < base.recomendation.length; i++) {
            if(base.pills[i].id == id) {
                console.log(base.recomendation.splice(i, 1));
                
                updated = true;
                $('#recomendationSave').show(500);   
    
                $('#recomendationTable').empty();
                loadDataRecomendation(base.recomendation); 
                return;
            }
        }
    }
    
    updateObj['tableRefresher'] = function() {
    
    }
    
    </script>
    
    <div class="">
        <h2>Рекомендации</h2>
        <p>
    
            <button id="btn-save" type="submit" class="btn btn-primary" onclick="newRecomendation()"> <span class="glyphicon glyphicon-plus-sign"></span></button>
            
        </p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="recomendationTable">
            </tbody>
        </table>
    </div>