  /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
  /*.row.content {height: 00vh;}*/
    
  /* Set gray background color and 100% height */
  .sidenav {
    background-color: #f1f1f1;
    height: 100vh;
    /*position: fixed;
    left: 0;
    top: 0;*/
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height: auto;} 
  }

  ul li {
    cursor: pointer;
  }

  .editPopUp {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background: #5555;
    text-align: center;
  }

#illnesList{
  text-align: left;
  direction: rtl;
}